/*** Start Hero Section *****/

.hero {
  padding-top: 56px;
  height: 100vh;
  width: 100%;
}

.frame {
  align-items: center;
  background: radial-gradient(
    100% 100% at 80% 0%,
    rgba(255, 63, 63, 0.6) 0%,
    rgba(240, 135, 80, 0.7) 35.9%,
    rgba(245, 205, 100, 0.7) 64.9%,
    rgba(255, 255, 255, 0) 100%
  );
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: 100%;
  justify-content: center;
  z-index: -1;
}

.box {
  height: 90px;
  width: 87px;
}

.box .vector {
  height: 90px;
  width: 87px;
}

.label-h1 {
  height: 172px;
  width: 614px;
}

.label-h1 .light-up-your-day {
  color: #aa0000;
  font-family: 'Abril Fatface-Regular', Helvetica;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 614px;
}

.labelSlogan {
  height: 64px;
  width: 290px;
}

.labelSlogan .unforgettable {
  color: #870000;
  font-family: 'Afacad-Regular', Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  margin: 0;
}

/*** End Hero Section *****/
/*** Start Upcoming Events Section *****/

.upcoming-events {
  padding: 0.3rem 0;
  height: calc(100vh - 64px);
  width: 100%;
}

.filters {
  align-items: center;
  display: flex;
  gap: 319px;
  position: relative;
}

.filters .upcoming-events {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.filters .design-component-instance-node {
  flex: 0 0 auto !important;
}

.events-container {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.view-more-btn {
  width: 16%;
  height: 35px;
}

/*** End Upcoming Events Section *****/
/*** Start Why Us Section *****/
.why-us {
  padding: 0.3rem 0;
  height: calc(100vh - 64px);
  width: 100%;
}

.why-us-text {
  font-family: 'Afacad-Regular', Helvetica;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin: 5px 0;
}

.features-frame {
  align-items: center;
  display: flex;
  gap: 45px;
  justify-content: center;
  position: relative;
  padding: 40px 0;
}

.features-div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 25px;
  position: relative;
  width: 30%;
}

.features-frame .image-vector {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 80px;
  width: 25%;
  position: relative;
}

.features-frame .image-vector .features-img {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.features-div-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
  text-align: center;
}

.features-div-2 .features-text-wrapper {
  align-self: stretch;
  color: #000000;
  font-family: 'Afacad-Regular', Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.features-frame .features-div-2 .features-text-wrapper p {
  color: #000000;
  font-family: 'Afacad-Regular', Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 100%;
}

/*** End Why Us Section *****/
