.choices {
  align-items: center;
  border-radius: 30px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 3px 10px;
  position: relative;
}

.choices .all {
  color: #1e1e1e;
  font-family: 'Afacad-Medium', Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 120px;
}

.choices.default {
  background-color: transparent;
}

.choices.hover {
  background-color: lightblue;
}

.choices.selected {
  background-color: blue;
  color: white;
}

.choices.hover {
  border: 1px solid;
  border-color: var(--foundation-orangenormal);
  border-color: red;
}

.choices.selected {
  background-color: var(--foundation-orangelight-active);
  background-color: yellow;
}

.choices.hover .all {
  margin-top: -1px;
}

.choices.default .all {
  margin-top: -2px;
}

.choices.selected .all {
  margin-top: -1px;
}
