.choices {
  align-items: center;
  border-radius: 30px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 3px 10px;
  position: relative;
}

.choices .all {
  color: #1e1e1e;
  font-family: 'Afacad-Medium', Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 120px;
}

.choices.default {
  background-color: transparent;
}

.choices.hover {
  background-color: rgb(245, 151, 101);
}

.choices.selected {
  background-color: rgba(255, 203, 176, 1);
}

.choices.hover .all {
  margin-top: -1px;
}

.choices.default .all {
  margin-top: -2px;
}

.choices.selected .all {
  margin-top: -1px;
}
